extends layout

block content
     .container.black.darken-4




                     if (!user)

                             .container
                                     .row

                                             .col.s12.m6.offset-m3
                                                     h3.center Login
                                                     br
                                                     form(role='form', action="/login",method="post" )
                                                             .input-field
                                                                     input.white-text(type='email', name="username", placeholder='Email', value="")
                                                             .input-field
                                                                     input.white-text(type='password', name="password", placeholder='Password', value="")
                                                             .center
                                                                     button.btn.grey.darken-4(type='submit') Login



                     if (user)
                             .row

                                     #remote-media
                                     #controls.row
                                             #preview.col.s12
                                                     #local-media

                                     #room-controls.row

                                             input#room-name(type='hidden', value='hackru')
                                             button#button-preview.btn.grey.btn-ghost.col.s12.hide Preview Cam
                                             button#button-join.btn.btn-ghost1.col.s12.green Start Call
                                             button#button-leave.btn.btn-ghost1.col.s12.red(style='display: none;') End Call

                                     .row
                                             #log.hide
                             .container#directory
                                     .input-field.col.s12
                                             select.white-text
                                                     option(value='', disabled='', selected='') Choose your option
                                                     option(value='1') Surgery
                                                     option(value='2') Cardiology
                                                     option(value='3') Gastroenterology
                                                     option(value='4') Dermatology
                                                     option(value='5') Pathology
                                             label.center Select a medical department
                                     ul.collection.with-header#userlist



