<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center white-text text-upper">HELP WITH <span class="hero-type">HOMEWORK</span><span class="typed-cursor">|</span></h1>
        <div class="row center">
            <p class="flow-text  white-text">
                A tutoring and mentorship platform for Rutgers Students developed at HACKRU!
                Studies show that the most effective way that students learn is from their peers.
            </p>

        </div>
        <div class="row center">
            <!-- Button that handles sign-in/sign-out -->
            <a href="/login" class="btn-large waves-effect waves-light  red darken-4 text-upper" id="quickstart-sign-in">Get Started</a>

        </div>
        <br><br>

    </div>
</div>