<div class="black darken-4">


    <div class="container">
        <div id="remote-media" class="row"></div>

        <div id="controls" class="row">
            <div id="preview" class="col s6">

                <div id="local-media"></div>
                <br>
                <button id="button-preview" class="btn grey btn-ghost">Preview Cam</button>


            </div>
            <div class="col s6">

                <ul class="collection with-header m0 hide" id="userlist">

                </ul>

                <div id="room-controls" class="">
                    <br>
                    <input id="room-name" type="hidden" value="hackru" />
                    <button id="button-join" class="btn btn-ghost">Start Call</button>
                    <button id="button-leave" class="btn btn-ghost">Leave Room</button>
                </div>

            </div>
        </div>

        <div class="row">

            <div id="log" class="hide"></div>
        </div>

    </div>

</div>