<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.css">
</head>
<body>
    <div class="black darken-4">

    <div class="container">
        <div class="input-field col s12">
            <select class="white-text">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Surgery</option>
                <option value="2">Cardiology</option>
                <option value="3">Gastroenterology</option>
                <option value="4">Dermatology</option>
            </select>
            <label>Select a type of doctor</label>
        </div>
e
    </div>

    <ul class="collection black">
        <li class="collection-item avatar black">
            <img src="images/yuna.jpg" alt="" class="circle">
            <span class="title white-text">Surgery</span>
            <p>First Line <br>
                Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title">Cardiology</span>
            <p>First Line <br>
                Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle green">insert_chart</i>
            <span class="title">Gastroenterology</span>
            <p>First Line <br>
                Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
        <li class="collection-item avatar">
            <i class="material-icons circle red">play_arrow</i>
            <span class="title">Dermatology</span>
            <p>First Line <br>
                Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
    </ul>


    <div class="container">
        <div id="remote-media" class="row"></div>

        <div id="controls" class="row">
            <div id="preview" class="col s6">

                <div id="local-media"></div>
                <br>
                <button id="button-preview" class="btn grey btn-ghost">Preview Cam</button>


            </div>
            <div class="col s6">

                <ul class="collection with-header m0 hide" id="userlist">

                </ul>

                <div id="room-controls" class="">
                    <br>
                    <input id="room-name" type="hidden" value="hackru" />
                    <button id="button-join" class="btn btn-ghost">Start Call</button>
                    <button id="button-leave" class="btn btn-ghost">End Call</button>
                </div>

            </div>
        </div>

        <div class="row">

            <div id="log" class="hide"></div>
        </div>

    </div>

</div>
</body>
</html>